<body id="eventpage">
<header>
  <h1>WHERE-TO</h1>
</header>
  <input type="button" name="name" value="Street Fest">
  <input type="button" name="name" value="Movies at park">
  <div id="container">
    <div class="info-content">

      <div class="content">
        <div class="imagePort">

        </div>
        <section id="infosection">
          <h2>title</h3>
            <h4>Movie name</h4>
            <strong>start date</strong>
            <p>
              times
            </p>
            <p>
              There are a lot of resources already available that cover more in-depth on how to combine fonts, and I may touch on that on another post, but for now I’ll just say that I haven’t found the golden rule to assure great font combinations. You want the fonts to feel like they go together thematically, but you don’t want them looking so similar that it causes conflict in your typography. Don’t put yourself in a box. Try as many combinations as you can, even if they seem unconventional. Just like in music, rules have been established and broken a thousand times over. It won’t always work, but it’s always a gratifying experience when it does.
            </p>
            <a href="#">more info web_link</a>
        </section>
      </div>

      <aside class="moreinfo">
      </aside>
    </div>

  </div>

</body>
