<body id="eventpage">
  <header>

    <h1> <%= image_tag('whereTo-logo.png') %> </h1>

    <input id="allEvents" type="button" name="name" value="All Events">
    <input id="festivals" type="button" name="name" value="Street Fest">
    <input id="movies" type="button" name="name" value="Movies at park">

  </header>

  <div id="container">
    <div class="info-content">

      <div class="content">
      </div>



      <aside class="moreinfo">
      </aside>

    </div>

  </div>




  <script type='text/template' id='eventtemplate'>
    <div class="imagePort">
      <img src="<%%= image %>" />
    </div>
    <h2> <%%= title %> </h2>
      <h4> <%%= moviename %> <span> <%%= movierating %> </span> </h4>
    <section id="infosection">

          <p><strong> <%%= startdate %> </strong> <%%= hour %> </p>
      <h4> <%%= neighborhood %> </h4>
      <strong> <%%= location %> </strong>
        <p> <%%= description %> </p>
      <a href=" <%%= link %> "> <%%= link %> </a>
    </section>
  </script>



</body>
