<body id="eventpage">
  <header>
    <h1> <%= image_tag('whereTo-logo.png') %> </h1>
    <nav>
      <ul>
        <li id="allEvents">All Events</li>
        <li id="festivals">Street Fest</li>
        <li id="movies">Moives at Paks</li>
      </ul>
    </nav>
  </header>


  <a href=# id="prev"> <%= image_tag('arrow.png') %> </a><a href=# id="next"> <%= image_tag('arrow.png') %> </a>

  <div id="container">
    <div class="info-content">

      <div class="content">

      </div>

      <aside class="moreinfo">
      </aside>

    </div>

  </div>

</body>
