<body id="eventpage">
  <header>
    <h1> <%= image_tag('whereTo-logo.png') %> </h1>
    <nav>
      <ul>
        <li id="allEvents">All Events</li>
        <li id="festivals">Street Fest</li>
        <li id="movies">Moives at Paks</li>
      </ul>
    </nav>
    <div class="ham-nav"> </div>
  </header>


  <!-- <a href=# id="prev"> <%= image_tag('arrow.png') %> </a>
  <a href=# id="next"> <%= image_tag('arrow.png') %> </a> -->

  <div id="container">
    <div class="info-content">

      <aside class="moreinfo">
        <div class="calendar">

        </div>
        <h1 class="yourevents">Your Events</h1>
        <div class="listEvent">

        </div>
      </aside>

      <a href="#" id="prev"> < </a>
      <a href="#" id="next"> > </a>

      <div class="content">

      </div>


    </div>

  </div>

</body>
