// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#eventpage{
  background-color: lightgray;
  margin: 0px;
  //overflow: hidden;
h1,h2,h3,h4,h5,h6,p {
  margin: 0px;
  padding: 0px;
}
header{
  width: 100%;
  height: 70px;
  background-color: darkblue;
}
header h1{
  margin-left: 20px;
  font-family:'Oswald', sans-serif;
  line-height: 67px;
  letter-spacing: 1px;
  color: white;
}
header img{
  width: 200px;
  height: 72px;
}
header input{
  float: right;
}
#container{
  width: 95%;
  margin: 0px auto;
}
.info-content{
  width: 90%;
  margin: 15px auto 0px;
}
.content{
  width: 60%;
  margin-right: 40px;
  float: left;
}
.eventInfo{
  background-color: white;
  margin-bottom: 10px;
}
.imagePort{
  max-width:100%;
  height: 350px;
  margin: 0px auto;
  position: relative;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #070315;
  color: white;

}
.image-haeder{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: white;
  background: linear-gradient(bottom, rgba(0, 0, 0,.9), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0,.9), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0,.9), rgba(0,0,0,.4));
.rating{
  margin-top: 5px;
}
h3{
  float: left;
}
b{
  float: right;
}
}
#infosection{
  padding: 10px;
.dates, .location{
  width: 200px;
  float: left;
  margin-bottom: 10px;
}
.location{
  float: right;
}
.descrip{
  clear: both;
  height: 100px;
  overflow: scroll;
}
}

aside{
  width: 30%;
  height: 400px;
  float: left;
  background-color: white;
}

@media (max-width: 500px){

    .imagePort {
      max-width: 100%;
      height: 400px;
      margin: 0px auto;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }


}

}
